.topPanel {
    background-color: #000e55;
}

.title {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: silver;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Arial';
    font-weight: 600;
    padding-left: 5px;
    border: 2px solid transparent;
}

.title:focus {
    outline: none;
    border: 2px solid #e2bb0a;
}

.title::selection {
    background-color: #001d9e;
    color: #e2bb0a;
}

.button {
    margin: 0 3px;
}

.logo {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}